
a
{
    margin:10px 20px;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color:white;
}
body
{
    margin: 00px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:rgb(64, 81, 78);
  
}

.buttom-cloud
{
    position: absolute;
    left: 300px;
    bottom:200px;
   
}
.contact-sms
{
    width: 40%;
    margin:auto;
}
.copy-para
{
    color:white;
    font-size: 0.75rem;
    padding: 20px 0px;
}
.computer-img
{
    width: 50%;
    height: 200px;
    float: left;
    margin-right: 30px;

}
.chillies-img
{
    width: 25%;
    float: right;

    margin-left: 30px;
}
div.top-container
{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  
}
div.middle-container
{
  margin:100px 0px 100px 0px;
}
div.bottom-container
{
   background-color: #11999E;
   display: inline-block;
   width: 100%;
   text-align: center;
   padding: 50px 0 20px;
   margin-top:100px; 
}

h1
{
    margin:50px auto 0px auto; 
    font-size:5.625rem;
    color: #11999E;
    font-family: 'Sacramento', cursive;
}
h2
{
    font-size: 2.5rem;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}
h3
{
    color:  #66BFBF;
    font-family: 'Montserrat', sans-serif;
}
hr
{
    border:dotted rgb(202, 204, 245) 6px;
    border-bottom:none;
    width:4%;

}
.land
{
height: 16rem;
}
p{
    line-height: 2;
}

.pro
{
    text-decoration:underline;
}
.profile
{
    width:25%;
    height:25%;
    margin: 0 auto 0 auto;
}
.intro
{
    width:30%;
    margin: 0 auto 0 auto;
    padding-bottom: 40px;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.top-cloud
{
    position: absolute;
    right: 300px;
    top: 30px;
   /* display:inline-block;**/
}
.footer-link
{
    color:#66BFBF;
   position: relative;
    
}

